html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

#header {
	box-sizing: border-box;
	height: 8%;
	width: 100%;
	background: rgb(255,255,255);
	overflow: auto;
	display: flex;
	justify-content: space-between;
}

.headerText {
	font-size: 15px;
	font-family: sans-serif;
	color: gray;
	display: flex;
	flex-direction: column;
	margin-left: 120px;
	letter-spacing: 1.5px;
}

h4 {
	font-weight: 300;
	font-size: 12px;
	display: block;
	color: rbga(0,0,0,0.1);
	margin-bottom: -10px;
	text-transform: uppercase;
	text-align: center;
}

h3 {
	font-weight: 700;
	font-size: 15px;
	display: block;
	color: rbga(0,0,0,1);
	margin-bottom: 1px;
	text-transform: uppercase;
}

.logo {
	position: relative;
	height: 30px;
	width: 50px;
	padding: 20px;
}

.buttons {
	position: relative;
	width: 20%;
	height: 100%;
	margin-top: 10px;
}

.searchButton {
	display: inline-block;
	position: relative;
	border-radius: 100%;
	margin-right: 8px;
	line-height: 35px;
	vertical-align: center;
	height: 35px;
	width: 35px;
	text-align: center;
	border: 1px solid rgb(177,177,177);
	cursor: pointer;

}

.signInButton {
	display: inline-block;
	position: relative;
	border-radius: 20px;
	vertical-align: middle;
	height: 35px;
	width: 120px;
	text-align: center;
	line-height: 35px;
	vertical-align: center;
	border: 1px solid rgb(87,171,99);
	cursor: pointer;
	font-family: sans-serif;
	font-size: 90%;
	padding: 1px;
	color: rgb(87,171,99);
}

.mainPic {
	box-sizing: border-box;
	width: 100%;
	height: auto;
}

.mainContent {
	margin-left: 15%;
	margin-right: 15%;
}

h1 {
	font-family: sans-serif;
	font-style: normal;
	font-size: 50px;
	margin-top: 40px;
	margin-bottom: 8px;
}

h2 {
	font-family: sans-serif;
	font-style: normal;
	font-size: 40px;
	margin-top: 1px;
	margin-bottom: 1px;
}

p {
	font-family: serif;
	line-height: 1.5;
	font-size: 20px;
}

.quote {
	font-style: italic;
	border-left: 3px solid;
	margin-left: -20px;
	padding-left: 20px;
}

span {
	font-weight: bold;
}

.box {
	background: rgb(243,243,243);
	padding: 20px;
}

.footer {
	background: rgb(39,34,34);
	position: absolute;
}

/*@media screen and (min-width: 865px) {

}*/

/*@media screen and (max-width: 865px) {
	.buttons {
	display: none;
	}
}

@media screen and (max-width: 865px) {
	.headerText {
		display: none;
	}
}*/

/*865px*/
